@import "tailwindcss";

:root {
  --verde: #2D4535;
  --dorado: #B8935A;
  --crema: #F0E8D8;
  --crema-dark: #E8D9C0;
  --verde-light: #3d5c47;
}

@theme inline {
  --color-verde: #2D4535;
  --color-dorado: #B8935A;
  --color-crema: #F0E8D8;
  --color-crema-dark: #E8D9C0;
}
